{% load static %}

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for blog in blogs|slice:"8" %}
                <div class="item">
                    <a href="{% url 'blog_details' blog.slug %}">
                        <img src="{{ blog.banner.url }}" alt="">
                    </a>
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{ blog.category|upper }}</span>
                            </div>
                            <a href="{% url 'blog_details' blog.slug %}">
                                <h4>{{ blog.title }}</h4>
                            </a>
                            <ul class="post-info">
                                <li>
                                    <a href="{% url 'view_user_information' blog.user.username %}">
                                        {{ blog.user.username|title }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ blog.created_date }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ blog.blog_comments.all.count }}
                                        Коментарі
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
