<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <h2>Блог Django<em></em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">
                            Головна
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">
                            Блоги
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Категорії
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}">
                                    {{ category.title|title }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    Мій профіль
                                </a>
                                <a class="dropdown-item" href="{% url 'user_notifications' %}">
                                    {% if unseen > 0 %}
                                        Сповіщення ({{ unseen }})
                                    {% else %}
                                        Сповіщення
                                    {% endif %}
                                </a>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    Вийти
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                Увійти
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <form class="form-inline d-flex flex-nowrap my-2 ml-auto search-form" action="{% url 'search_blogs' %}" method="GET">
                    <input class="form-control px-5" name="search" type="text" placeholder="Пошук у блогах" required>
                    <button class="btn btn-primary ml-1">Пошук</button>
                </form>

            </div>
        </div>
    </nav>
</header>
